@import "tailwindcss";

@layer components {
    /* Custom Scrollbar for panels */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    body {
        background: white;
        height: auto;
        overflow: visible;
    }
}